﻿@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Avanco</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        @*<link rel="stylesheet" href="~/css/dashboard.css" />*@
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 hidden-xs">
                <a class="navbar-brand center-block" href="#">
                    
                </a>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"><img src="~/images/logo-avanco/AR-L-White.png" width="100" height="30" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Basic Data <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a asp-area="" asp-controller="Trucks" asp-action="Index">Trucks</a></li>
                            <li><a asp-area="" asp-controller="Loaders" asp-action="Index">Loaders</a></li>
                            <li><a asp-area="" asp-controller="Shifts" asp-action="Index">Shifts</a></li>
                            <li><a asp-area="" asp-controller="Crews" asp-action="Index">Crews</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a asp-area="" asp-controller="LoadingCompanies" asp-action="Index">Loading Companies</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Shots Planning <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a asp-area="" asp-controller="Stages" asp-action="Index">Stages</a></li>
                            <li><a asp-area="" asp-controller="Levels" asp-action="Index">Levels</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a asp-area="" asp-controller="Shots" asp-action="Index">Shots</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Material Planning <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a asp-area="" asp-controller="MaterialOrigins" asp-action="Index">Material Origins</a></li>
                            <li><a asp-area="" asp-controller="MaterialClassClassifications" asp-action="Index">Material Classifications</a></li>
                            
                            <li role="separator" class="divider"></li>
                            <li><a asp-area="" asp-controller="MaterialClasses" asp-action="Index">Material Class</a></li>
                        </ul>
                    </li>


                    <li><a asp-area="" asp-controller="Pits" asp-action="Index">Daily Input Production</a></li>
                    <li><a asp-area="" asp-controller="Courses" asp-action="Index">Stocks Control</a></li>
                    <li><a asp-area="" asp-controller="Instructors" asp-action="Index">Resources</a></li>
                    <li><a asp-area="" asp-controller="Departments" asp-action="Index">Department</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - Avanco</p>
        </footer>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
