@model ContosoUniversity.Models.Loader

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Loader</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LoaderName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LoaderName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LoaderDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LoaderDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LoaderType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LoaderType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LoaderDateStartOperate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LoaderDateStartOperate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LoaderID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
