@model IEnumerable<ContosoUniversity.Models.Loader>

@{
    ViewData["Title"] = "Loader";
}

<h2>Loader</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.LoaderName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LoaderDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LoaderType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LoaderDateStartOperate)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LoaderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoaderDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoaderType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoaderDateStartOperate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LoaderID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LoaderID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LoaderID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
