@model ContosoUniversity.Models.Pit

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Pit</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
        
            <div class="form-group">
                <label asp-for="PitDate" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="PitDate" class="form-control" />
                    <span asp-validation-for="PitDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ShiftID" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="ShiftID" class="form-control" asp-items="ViewBag.ShiftID">
                        <option value="">-- Select Shift --</option>
                    </select>
                </div>
            </div>

        


        <div class="form-group">
            <label asp-for="CrewID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="CrewID" class ="form-control" asp-items="ViewBag.CrewID">
                    <option value="">-- Select Crew --</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TruckID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="TruckID" class ="form-control" asp-items="ViewBag.TruckID">
                    <option value="">-- Select Truck --</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LoaderID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="LoaderID" class ="form-control" asp-items="ViewBag.LoaderID">
                    <option value="">-- Select Loader --</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ShotID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ShotID" class ="form-control" asp-items="ViewBag.ShotID">
                    <option value="">-- Select Shot --</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="MaterialOriginID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="MaterialOriginID" class="form-control" asp-items="ViewBag.MaterialOriginID">
                    <option value="">-- Select Material Origin --</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="MaterialClassID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="MaterialClassID" class="form-control" asp-items="ViewBag.MaterialClassID">
                    <option value="">-- Select Material Destination --</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="PitLoadCount" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PitLoadCount" class="form-control" />
                <span asp-validation-for="PitLoadCount" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
