@model ContosoUniversity.Models.Pit

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Pit</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="PitID" />
        <dt>
            @Html.DisplayNameFor(model => model.PitDateCreated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PitDateCreated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PitDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PitDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PitLoadCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PitLoadCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Crew)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Crew.CrewID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Loader)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Loader.LoaderID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Shift)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Shift.ShiftID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Shot)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Shot.ShotID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Truck)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Truck.TruckID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
