@model ContosoUniversity.Models.Pit

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PitDateCreated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PitDateCreated)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PitDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PitDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PitLoadCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PitLoadCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Crew)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Crew.CrewName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Loader)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Loader.LoaderName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Shift)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Shift.ShiftName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Shot)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Shot.CodShot)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Truck)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Truck.TruckName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaterialOrigin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaterialOrigin.MaterialOriginName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PitID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
