@model ContosoUniversity.Models.Pit

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Pit</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="PitID" />
    <input type="hidden" asp-for="RowVersion" />
        
        <div class="form-group">
            <label asp-for="PitDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PitDate" class="form-control" />
                <span asp-validation-for="PitDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ShiftID" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="ShiftID" class="form-control" asp-items="ViewBag.ShiftID"></select>
                <span asp-validation-for="ShiftID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CrewID" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="CrewID" class="form-control" asp-items="ViewBag.CrewID"></select>
                <span asp-validation-for="CrewID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TruckID" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="TruckID" class="form-control" asp-items="ViewBag.TruckID"></select>
                <span asp-validation-for="TruckID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LoaderID" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="LoaderID" class="form-control" asp-items="ViewBag.LoaderID"></select>
                <span asp-validation-for="LoaderID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ShotID" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="ShotID" class="form-control" asp-items="ViewBag.ShotID"></select>
                <span asp-validation-for="ShotID" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="MaterialOriginID" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="MaterialOriginID" class="form-control" asp-items="ViewBag.MaterialOriginID"></select>
                <span asp-validation-for="MaterialOriginID" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="MaterialClassID" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="MaterialClassID" class="form-control" asp-items="ViewBag.MaterialClassID"></select>
                <span asp-validation-for="MaterialClassID" class="text-danger"></span>
            </div>
        </div>


        <div class="form-group">
            <label asp-for="PitLoadCount" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PitLoadCount" class="form-control" />
                <span asp-validation-for="PitLoadCount" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
