@model IEnumerable<ContosoUniversity.Models.Pit>

@{
    ViewData["Title"] = "Pit";
}

<h2>Pit</h2>

<p>
    <a class="btn btn-primary" role="button" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                
            <th>
                @Html.DisplayNameFor(model => model.PitDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shift)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Crew)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Truck)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Loader)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaterialOrigin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaterialClass)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PitLoadCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.PitDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shift.ShiftName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Crew.CrewName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Truck.TruckName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Loader.LoaderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Shot.CodShot)
            </td>      
            <td>
                @Html.DisplayFor(modelItem => item.MaterialOrigin.MaterialOriginName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaterialClass.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PitLoadCount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PitID"><i class="glyphicon glyphicon-pencil"></i> Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PitID"><i class="glyphicon glyphicon-list-alt"></i> Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PitID"><i class="glyphicon glyphicon-trash"></i> Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
