@model ContosoUniversity.Models.Shot

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Shot</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.CodShot)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CodShot)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShotSequency)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShotSequency)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShotDatePlanned)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShotDatePlanned)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShotDateBlasted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShotDateBlasted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Level)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Level.LevelID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Stage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stage.StageID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ShotID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
