@model ContosoUniversity.Models.Shot

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Shot</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ShotID" />
        <div class="form-group">
            <label asp-for="ShotSequency" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ShotSequency" class="form-control" />
                <span asp-validation-for="ShotSequency" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ShotDatePlanned" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ShotDatePlanned" class="form-control" />
                <span asp-validation-for="ShotDatePlanned" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ShotDateBlasted" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ShotDateBlasted" class="form-control" />
                <span asp-validation-for="ShotDateBlasted" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LevelID" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="LevelID" class="form-control" asp-items="ViewBag.LevelID"></select>
                <span asp-validation-for="LevelID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StageID" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="StageID" class="form-control" asp-items="ViewBag.StageID"></select>
                <span asp-validation-for="StageID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
