@model IEnumerable<ContosoUniversity.Models.Shot>

@{
    ViewData["Title"] = "Shot";
}

<h2>Shot</h2>

<p>
    <a class="btn btn-primary" role="button" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CodShot)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Level)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Stage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShotSequency)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShotDatePlanned)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShotDateBlasted)
                </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.CodShot)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Level.LevelID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stage.StageID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShotSequency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShotDatePlanned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShotDateBlasted)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.ShotID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ShotID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ShotID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
