@model ContosoUniversity.Models.Truck

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Truck</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TruckName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TruckName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TruckDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TruckDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TruckType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TruckType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TruckDateStartOperate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TruckDateStartOperate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoadingCompany)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LoadingCompany.LoadingCompanyName)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TruckID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
