@model ContosoUniversity.Models.Truck

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Truck</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="TruckID" />
        <div class="form-group">
            <label asp-for="TruckName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TruckName" class="form-control" />
                <span asp-validation-for="TruckName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TruckDescription" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TruckDescription" class="form-control" />
                <span asp-validation-for="TruckDescription" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TruckType" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TruckType" class="form-control" />
                <span asp-validation-for="TruckType" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TruckDateStartOperate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TruckDateStartOperate" class="form-control" />
                <span asp-validation-for="TruckDateStartOperate" class="text-danger"></span>
            </div>
        </div>

        @*Inserido para Carregar o DropDown List da empresa dona do Truck*@
        <div class="form-group">
            <label asp-for="LoadingCompany" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="LoadingCompanyID" class="form-control" asp-items="ViewBag.LoadingCompanyID">
                    <option value="">-- Select Loading Company --</option>
                </select>
                <span asp-validation-for="LoadingCompanyID" class="text-danger" />
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
