@model IEnumerable<ContosoUniversity.Models.Truck>

@{
    ViewData["Title"] = "Trucks";
}

<h2>Trucks</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TruckName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TruckDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TruckType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TruckDateStartOperate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LoadingCompany)
                </th>
                
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TruckName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TruckDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TruckType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TruckDateStartOperate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoadingCompany.LoadingCompanyName)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.TruckID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TruckID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TruckID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
