@model IEnumerable<ContosoUniversity.Models.MaterialOrigin>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MaterialOriginName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MaterialOriginDateCreated)
                </th>
                
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaterialOriginName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.MaterialOriginDateCreated)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaterialOriginID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaterialOriginID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaterialOriginID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
