@model ContosoUniversity.Models.Shift

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Shift</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ShiftName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShiftName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ShiftDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ShiftDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ShiftID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
