@model IEnumerable<ContosoUniversity.Models.Shift>

@{
    ViewData["Title"] = "Shift";
}

<h2>Shift</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ShiftName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ShiftDescription)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShiftName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShiftDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ShiftID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ShiftID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ShiftID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
