@model ContosoUniversity.Models.LoadingCompany

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>LoadingCompany</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LoadingCompanyName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LoadingCompanyName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LoadCompanyDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LoadCompanyDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LoadingCompanyStartOperate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LoadingCompanyStartOperate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LoadingCompanyID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
