@model IEnumerable<ContosoUniversity.Models.LoadingCompany>

@{
    ViewData["Title"] = "Loading Companies";
}

<h2>Loading Companies</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.LoadingCompanyName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LoadCompanyDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LoadingCompanyStartOperate)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LoadingCompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoadCompanyDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoadingCompanyStartOperate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LoadingCompanyID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LoadingCompanyID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LoadingCompanyID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
