﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Avanco Production System</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Avanco Production System</h2>
        <p>
            Mining Production Planning.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Management</h2>
        <p>Controlling of all production steps</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">See more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Procedures</h2>
        <p>Read all manuals and procedures</p>
        <p><a class="btn btn-default" href="https://github.com/aspnet/Docs/tree/master/aspnet/data/ef-mvc/intro/samples/cu-final">Read more &raquo;</a></p>
    </div>
</div>