@model IEnumerable<ContosoUniversity.Models.Stage>

@{
    ViewData["Title"] = "Stages";
}

<h2>Stages</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StageID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StageDescription)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StageID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StageDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StageID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StageID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StageID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
