@model IEnumerable<ContosoUniversity.Models.Level>

@{
    ViewData["Title"] = "Level";
}

<h2>Level</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.LevelID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LevelDescription)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LevelID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LevelDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LevelID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LevelID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LevelID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
