@model ContosoUniversity.Models.MaterialClass

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>MaterialClass</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="MaterialClassClassificationID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="MaterialClassClassificationID" class ="form-control" asp-items="ViewBag.MaterialClassClassificationID">
                    <option value="">-- Select Material Class Classification --</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Destination" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Destination" class="form-control" />
                <span asp-validation-for="Destination" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="IsPitOpen" />
                    <label asp-for="IsPitOpen"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="IsCrushedOpen" />
                    <label asp-for="IsCrushedOpen"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="OpenedDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="OpenedDate" class="form-control" />
                <span asp-validation-for="OpenedDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ClosedDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ClosedDate" class="form-control" />
                <span asp-validation-for="ClosedDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
