@model ContosoUniversity.Models.MaterialClass

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MaterialClass</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="MaterialClassID" />
        <dt>
            @Html.DisplayNameFor(model => model.Destination)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Destination)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsPitOpen)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsPitOpen)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsCrushedOpen)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsCrushedOpen)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OpenedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OpenedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClosedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClosedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaterialClassClassification)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaterialClassClassification.MaterialClassClassificationID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
