@model ContosoUniversity.Models.MaterialClass

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>MaterialClass</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.MaterialClassClassification)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaterialClassClassification.MaterialClassClassificationName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Destination)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Destination)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsPitOpen)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsPitOpen)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsCrushedOpen)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsCrushedOpen)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OpenedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OpenedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClosedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClosedDate)
        </dd>
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MaterialClassID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
