@model IEnumerable<ContosoUniversity.Models.MaterialClass>

@{
    ViewData["Title"] = "Material Class";
}

<h2>Material Class</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>

                <th>
                    @Html.DisplayNameFor(model => model.MaterialClassClassification)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Destination)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsPitOpen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsCrushedOpen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OpenedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ClosedDate)
                </th>
                
                

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaterialClassClassification.MaterialClassClassificationName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPitOpen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCrushedOpen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpenedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosedDate)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaterialClassID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaterialClassID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaterialClassID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
